.nav__btn-menu{
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-around;
    padding: 0.65rem 1rem;
    text-decoration: none;
    width: 95px;
}

.btn__menu{
    color: red;
    width: 35px;
}