.footer{
    align-items: center;
    background:  #2d2d31;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 2rem 10rem;
}

.footer__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}

.footer__left-p{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    padding-left: 1rem;
}

.footer__right{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer__right-p{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.714;
    margin-bottom: .5rem;
    text-align: right;
}

.footer__right-p2{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.714;
    text-align: right;
    font-weight: 400;
    width: 375px;
}

.footer__links{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5rem;
    margin-top: .5rem;
}

.link1{
    border: #FFFFFF 1px solid;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link1:hover{
    color: #FFFFFF;
   
}

.link2{
    border: #FFFFFF 1px solid;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link2:hover{
    color: #FFFFFF;
   
}